/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --prime-white: #FFFFFF;
--light-grey: #F6F6F6;
--grey-footer: #23272A;
--purple-discord: #7289DA;
--blu-header: #255EE9;
--black-text: #000000;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.debug{
  border: 1px solid black;
}

ul{
  list-style: none;
}

body{
  background-color: var(--prime-white);
  font-family: 'Noto Sans', sans-serif;
}

/* HEADER */
header{
  background-color: var(--blu-header);
}

/* sfondo header */
#hero{
  background-image: url('../img/jumbo.png');
  min-height: 500px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* per separare i pulsanti nav */
header nav a{
  padding: 5px 10px;
}

.btn{
  background-color: var(--prime-white);
  color: var(--black-text);
  border-radius: 20px;
}

.btnA {
  background-color: var(--prime-white);
  color: var(--black-text);
  border-radius: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

.btnB {
  background-color: var(--black-text);
  color: var(--prime-white);
  border-radius: 20px;
  padding: 5px 10px;
  text-decoration: none;
}

/* per colorare la nav */
nav a{
  color: var(--prime-white);
  text-decoration: none;
  display: inline-block;
}

/* contenuto header al centro */
.content{
  max-width: 700px;
  color: var(--prime-white);
  padding: 30px 15px;
}

.textcenter{
  text-align: center;
  color: var(--prime-white);
}

/* MAIN */

/* even sono i section pari */
.even{
  background-color: var(--light-grey);
}

/* per allineare (lunghezza) */
.flex{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}

/* per allineare nel centro (altezza) */
.align{
  align-items: center;
  align-content: center;
}

.text{
  text-align: center;
}

.left{
  width: 60%;
}

.right{
  width: 40%;
}

.reverse{
  flex-flow: row-reverse wrap;
}

/* footer */
footer{
  background-color: var(--grey-footer);
  color: var(--prime-white);
}